@use "../abstracts/variables" as *;

.features {
  grid-column: center-start / center-end;
  margin: $space-xl 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: $space-lg;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: $space-xs;

  &__icon {
    fill: $color-primary;
    width: $space-md;
    height: $space-md;
    grid-row: 1 / span 2;
  }

  &__text {
    font-size: $font-size-sm;
  }
}
