@use "../abstracts/variables" as *;

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: subgrid;

  &__wrapper {
    // This spans from the second column to the second-to-last column
    // of the parent's "center" section (which has 8 columns)
    grid-column: col-start 2 / col-end 7;

    // Create the actual grid for the features
    display: grid;
    grid-template-columns: subgrid;
    gap: 6rem;
  }
}

.feature {
  grid-column: span 2;
}
