@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
@import "tailwindcss";

@theme {
  --color-cyan-600: #4d96a9;
  --color-cyan-300: #8fe3f9;
  --color-purple-600: #855fb1;
  --color-purple-300: #d9b8ff;
  --color-slate-900: #28283d;
  --color-slate-600: #87879d;
  --color-slate-300: #d1d1df;
  --color-white: #fafafa;

  /* Spacing System (in pixels) */
  --space-1400: 7rem; /* 14 * 8px */
  --space-1000: 5rem; /* 10 * 8px */
  --space-900: 4.5rem; /* 9 * 8px */
  --space-800: 4rem; /* 8 * 8px */
  --space-500: 2.5rem; /* 5 * 8px */
  --space-300: 1.5rem; /* 3 * 8px */
  --space-200: 1rem; /* 2 * 8px */
  --space-100: 0.5rem; /* 1 * 8px */

  --font-family: "Red Hat Display", sans-serif;
}

@utility text-preset-1 {
  @apply font-black font-family text-[4rem] leading-[1.1] tracking-normal;
}

@utility text-preset-1--tablet {
  @apply font-black font-family text-[3rem] leading-[1.1] tracking-normal;
}

@utility text-preset-1--mobile {
  @apply font-black font-family text-[2.5rem] leading-[1.1] tracking-normal;
}

@utility text-preset-2 {
  @apply font-bold font-family text-[2.5rem] leading-[1.1] tracking-normal;
}

@utility text-preset-3 {
  @apply font-bold font-family leading-[1.1] tracking-[4px];
}

@utility text-preset-4 {
  @apply font-medium font-family text-[1.125rem] leading-[1.5] tracking-normal;
}

@utility text-preset-4--tablet {
  @apply font-medium font-family  leading-[1.5] tracking-normal;
}

@utility text-preset-5 {
  @apply font-black font-family leading-[1.5] tracking-normal;
}
