@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: $font-weight-light;
  line-height: $line-height-lg;
}
