main {
  grid-column: main-content-start / main-content-end;

  display: grid;
  grid-template-rows: 80vh min-content 40vh repeat(2, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr)
    [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end])
    [center-end]
    minmax(6rem, 1fr) [full-end];
}
